<header class="w-full bg-cover bg-center h-[100vh] flex justify-center items-center" style="background-image: url(../assets/Photos/dieAntWoord\ Gif.webp);">
  <img src="../assets/Photos/Dieshantushwooorrdcdd.png" alt="Pic" class=""> 
</header>

<main class="h-auto w-full flex flex-col p-[10px] items-center bg-black">
  <section class=" flex flex-wrap justify-center">
    <marquee behavior="scroll" direction="left"><p class="text-red-500 p-[10px] font-bold">Fatty Boom Boom - Die Antwoord</p></marquee>
    <audio controls class="w-[150px] md:w-[250px] lg:w-[300px]">
      <source type="audio/mp3" src="../assets/Audio/Die Antwoord - Fatty Boom Boom.mp3">  
    </audio>
  </section>
  <section class="p-[20px] my-[20px] text-white text-[20px] md:text-[21px] lg:text-[22px] text-center max-w-full md:max-w-[500px] lg:max-w-[650px]">
    <p class="my-[20px]">Die Antwoord are a South African alternative hip hop group formed in Cape Town in 2008.</p>
    <p class="my-[20px]"> 
      The group comprises rappers Watkin Tudor "Ninja" Jones and Anri "Yolandi Visser" du Toit, a male/female duo, and producers HITEK5000 and Lil2Hood. Their image revolves around the South African counterculture movement known as zef and has incorporated work by other artists associated with the movement, such as photographer Roger Ballen.
    </p>
  </section>
  <section class="my-[30px] text-white flex items-center justify-center flex-col lg:flex-row p-[20px] text-white text-center max-w-full p-[20px] text-[20px] md:text-[21px] lg:text-[22px]">
    <img src="../assets/Photos/dieantwoordzanguri.jpg" alt="Picture">
    <p>
      Die Antwoord has had mainstream success worldwide. Their albums and singles have charted in the top 50—if not top 10—in countries in Europe and North America, and also Australia. Their music has been featured on best-selling video games in the Far Cry franchise as well. One of their earliest songs, "Enter the Ninja", did well in Australia and the UK, while later songs like "Pitbull Terrier" and "Ugly Boy" did well in the US. Their 2016 album peaked at a higher chart position in nearly every country than their previous 2014 album.
    </p>
  </section>
  <section class="flex my-[10px] text-white justify-center items-center text-[20px] md:text-[21px] lg:text-[22px] text-center">
    <p>
      Since 2019, the group has been involved in several controversies related to accusations of child abuse, sexual assault and hate crimes.
    </p>
  </section>
</main>

<footer class="bg-black p-[30px] flex flex-col justify-center items-center">
  <section class="flex w-full justify-center items-center">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1mHGdZhLYl5eXFyB6gVxPF?utm_source=generator&theme=0" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="w-full md:w-[500px] lg:w-[700px]"></iframe>
  </section>
  <section class="flex my-[50px]">
    <img src="../assets/Photos/8UCLgfgf.gif" alt="gif" class="rounded">
  </section>
  <h1 class="text-white text-2xl">Yoland 👍 aeseti xar</h1>
</footer>